figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 400px;
  height: 400px;
  display: inline-block;
  border: 1px solid black;
  margin-right: 15px; 
  margin-left: 15px;
  margin-bottom: 10px;
}

figure img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

figure:hover figcaption {
  opacity: 1;
}

figcaption h2,
figcaption h3 {
  margin: 0;
}

.more a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.more a:hover {
  background-color: white;
  color: black;
}
